
header{
  background-color: black;
  color: salmon;
  font-family:  'Righteous', sans-serif; ;
  height: 100px;
  text-align: center;
  font-style: italic;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f3f3;
  color: #333;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Arial', sans-serif;
  color: #be2f0f;
  text-align: center;
  padding: 20px 0;
}
.location-info {
  background-color: #e29898;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
.location-info h2 {
  color: #333;
}
.location-info p {
  margin: 10px 0;
}

.link-container {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.copyright {
  font-weight: bold;
  background-color: rgb(167, 167, 167);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  height: auto;
}

<style>
  #form label {
    display: block;
    margin-bottom: 5px;
  }

  #form input[type="text"],
  #form input[type="number"] {
    display: inline-block;
    width: 100px; /* Adjust the width as needed */
    margin-right: 10px; /* Add some spacing between inputs */
  }
</style>

<form id="form">
  <fieldset>
    <legend><i>New Stand</i></legend>
    <label for="storeName">Store Name</label>
    <input type="text" id="storeName" name="storeName">
    <label for="minCustomers">Minimum Customers</label>
    <input type="number" id="minCustomers" name="minCustomers">
    <label for="maxCustomers">Max Customers</label>
    <input type="number" id="maxCustomers" name="maxCustomers">
    <label for="averageSale">Average Sale</label>
    <input type="text" id="averageSale" name="averageSale">
    <button type="submit">Submit</button>
  </fieldset>
</form>
